body{
    background-color: #fff;
}

.latar1-1{
    background-color: #f3e6e3;
    height: 300px;
    width: 280px;
}

.latar1-2{
    background-color: #ffdbc5;
    height: 147px;
    width: 200px;
    top: 400px;
    position: absolute;
}
